@media(min-width: 0px) and (max-width:767px)   {
    .nav__bar__img-logo{
        padding-left: 20px !important;}

}

@media(min-width: 0px) and (max-width:767px)   {
    .header__h1-text-blog{
        clear:both !important;
        width: 270px !important;
        text-align: center !important;
        top:50px !important;
        left: 0 !important;
        padding-left: 50px;
        font-size: $x-large !important;}

}

@media(min-width: 0px) and (max-width:767px)   {
    .container__margin{
        margin-top: 170px !important;}

}


@media(min-width: 0px) and (max-width:767px)   {
    .section__box-img{
       width: 100% !important;}

}

@media(min-width: 0px) and (max-width:767px)   {
    .section__text-avatar{
       display: block !important;}

}


@media(min-width: 0px) and (max-width:767px)   {
    .section__img-avatar{
        margin-top: 10px !important;
        margin-left: 50px !important;}

}


@media(min-width: 0px) and (max-width:767px)   {
    .section__text-name{
     width: 300px!important;}

}


@media(min-width: 0px) and (max-width:767px)   {
    .section__text-contact{
        width: 300px !important;}

}

@media(min-width: 0px) and (max-width:767px)   {
     .one{
        padding-left: 84px !important;}

}

@media(min-width: 0px) and (max-width:767px)   {
    .two{
       padding-left: 80px !important;}

}
@media(min-width: 0px) and (max-width:767px)   {
    .section__text-description{
       display: none !important;}

}


